body{
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  color: rgb(255, 255, 255);
  font-size: 30px;
  background-color: 	rgb(67,137,168);
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.container{
  width: 90vw;
  margin: 0 auto;
}

.header{
  background-color: rgb(42, 81, 112);
}
.logo{
  height: 50px;
  width: 50px;
}
img.logo {
  animation: 3s linear 0s normal none infinite running logo;
  -webkit-animation: 3s linear 0s normal none infinite running logo;
}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu{
  display: flex;
  margin-left: auto;
}
.menu li {
  text-transform: uppercase;
  margin-right: 5px;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
}
.nav-link:visited{
  color: #ffffff;
}

.nav-link:hover {
  color: #ffc850;
  transition: .5s;
}

.title{
  margin-left: 10px;
  font-size: 60px;
  font-family: 'Permanent Marker', cursive;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, rgb(251,233,121), rgb(204,147,75));
  transition: .5s;
}
.title:hover{
	color: #ff5050;
  transition: 1s;
}
.nav{
  display: flex;
  align-items: center;
  padding: 10px;
}
.main{
 display: flex;
 justify-content: space-between;
}
.photo{
  height: 85vh;
  width: 85vh;
  margin-right: auto;
}
.photo2{
  height: 74vh;
  width: 83vh;
}
.text{
 padding-top: 12vh;
 min-width: 20vw;
 max-width: 30vw;
 margin-left: 3vw;
}
span{
line-height: 1.3em;
text-indent: 30px;
letter-spacing: 0.5px;
padding-right: 10px;
}
#mymap{
  width: 50vw;
  height: 75vh;
  margin: 25px;
  display: flex;
  border: 5px solid rgb(42, 81, 112);
  border-radius: 3px;
  box-shadow: 10px 5px 5px rgb(46,97,118)
}

.meetings{
  display: flex;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-between;
}
.meet{
  width: 40vw;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 1vh;
  overflow-y: scroll;
  max-height: 62vh;
  min-height: 400px;
  background-color: rgb(42, 81, 112);
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.carda{
  display: flex;
  background-image: linear-gradient(to bottom, rgb(251,233,121), rgb(204,147,75));
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  
}

.img{
  width: 160px;
  height: 160px;
  margin: 15px;
  border-radius: 10px;
}
p{
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
}
.span{
  font-size: 0.7em;
  letter-spacing: -1px;
}
.txt{
  text-align: start;
}
h1{
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, rgb(251,233,121), rgb(204,147,75));
  font-weight: 700;
  letter-spacing: 2px;
}
.form{
  text-align: center;
  margin-top: 20vh;
  margin-left: 20px;
}
.justify-content-center {
  width: 90vw;
  justify-content: space-around!important;
  margin: 6vh auto;
}
.form-control{
  width: 20vw;
  text-align: center;
  background-color: #ffffffbe;
  font-size: 25px;
}
.button{
  background-color: rgb(251,233,121);
  width: 10vw;
  color: black;
  border: 0;
}
.button:hover{
  background-color: rgb(251,94,83);
  width: 10vw;
  color: black;
}
.favoriteCard{
  background-color: rgb(67,137,168);
}
.meet::-webkit-scrollbar {
  width: 10px;
}
.meet::-webkit-scrollbar-track {
  background-color:rgba(16, 96, 102, 0.658);;
  border-radius: 10px;
}
.meet::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(206, 121, 23), rgb(210,147,74));
}
.title2{
 text-align: center;
}
.flexy{
  display: flex;
  width: 50vw;
  min-width: 550px;
  margin-left: 1vw;
 text-align: center;
 background-image: linear-gradient(to bottom, rgb(251,233,121), rgb(204,147,75));
 border-radius: 20px;
 padding: 10px;
 box-shadow: 10px 10px 5px rgb(46,97,118)

 
}
.info{
  text-align: center;
}
.upload{
  margin: 50px;
  margin-top: 0;
  width: 25vh;
  font-size: 20px;
}
.img2{
  margin: 15px;
  border-radius: 10px;
  width: 15vw;
  height: 15vw;
  margin-top: 30px
}
.info{
  margin: auto;
}
.input{
  margin: 10px;
  width: 20vw;
  height: 50px;
  font-size: 30px;
  margin: 10px auto;
}
.area{
  height: 100px;
  width: 20vw;
  margin: 10px auto;
}
.button{
  font-size: 25px;
}

.aaa{
  background-image: url("https://static.wixstatic.com/media/1b461b_db9a9513312e47f787670521e9df7326~mv2.gif");
  height: 80vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 45%;
  margin: 20px;
  padding-top: 5vh;
  width: 95vw;
}
.line{
  width: 10vw;
  display: inline;
}
label{
  margin-left: 5px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.658);
  font-size: 25px;
}
.bbb{
  background-image: url('https://i.pinimg.com/originals/cb/41/7d/cb417d86a87f4c5147f7e38f7a9f21b6.gif');
}
.line2{
  margin: 10px;
  width: 46%;
  display: inline;
}
.sss{
  background-color: rgb(42, 81, 112);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
